<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer Calculator</title>
    <style>
        div.wrapper {
            display:flex;
            align-items:center;
        }
        div.wrapper > h3 {
            margin-right:5px;
        }
    </style>
</head>
<body>
<h2>Welcome</h2>
<div class="wrapper">
    <h3 th:text="${'the power is ' + power}"></h3>
    <p th:if="${power >= 0 && power <= 20000}" th:text="${'C class'}"></p>
    <p th:if="${power > 20000 && power <= 100000}" th:text="${'B class'}"></p>
    <p th:if="${power > 100000}" th:text="${'A class'}"></p>
</div>
</body>
</html>